<a href="https://colab.research.google.com/github/Brunoandu/Aula-Programacao/blob/main/Untitled22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
class Pessoa:
  def __init__(self, name):
    self.name = name

In [7]:
aluno = Pessoa('Gabriell')
aluno.name

'Gabriell'

In [15]:
#Criar uma classe de funcionarios que tem como atributos nome,cargo e matr√≠cula
class Funcionario:
  def __init__(self, name, job, registration):
    self.name = name
    self.job = job
    self.registration = registration

In [19]:
vend = Funcionario('Eduarda', 'Caixa', 25845)
print(f'{vend.name},cargo: {vend.job}, mat: {vend.registration}')

Eduarda,cargo: Caixa, mat: 25845

In [20]:
#criar uma classe cliente contendo os atributos
#Nome, idade , sexo
class Cliente:
  def __init__(self, name, age, sex):
    self.name = name
    self.age = age
    self.sex = sex

In [28]:
vend = Cliente('Hellen', 19 , 'Feminino')
print(f'{vend.name}, age: {vend.age}, sex: {vend.sex}')

Hellen, age: 19, sex: Feminino

In [44]:
class Conta:
  def __init__(self, titular, saldo):
    self.titular = titular
    self.saldo = saldo
  def exibeSaldo(self):
    print(f'{self.titular} saldo de R${self.saldo},00')

In [45]:
co = Conta('Pablo', 126678)
co.exibeSaldo()

Pablo saldo de R$126678,00

In [49]:
class Animal:
  def __init__(self, name):
    self.name = name
  def emitirSom(self):
    pass

class Ovelha(Animal):
  def emitirSom(self):
    print('Beeeeeeeeeeee')

In [48]:
class Animal:
  def __init__(self, name):
    self.name = name
    def emitirSom(self):
      pass

class Lobo(Animal):
  def emitirSom(self):
    print('auuuuuuuuuuuuuuuuuuuuuu')

In [51]:
ovelhinha = Ovelha('Ana')
lobinho = Lobo('Scott')

ovelhinha.emitirSom()
lobinho.emitirSom()

Beeeeeeeeeeee
auuuuuuuuuuuuuuuuuuuuuu