<a href="https://colab.research.google.com/github/Brunoandu/Aula-Programacao/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
idade = int(input('Digite a idade do atleta! '))
if(idade < 14):
  print('Infantil')
elif(idade < 18):
  print('Juvenil')
else:
  print('Senior')

Digite a idade do atleta! 23
Senior

In [5]:
#Lista
num = [1, 4, 3, 6, 9, 16]

In [6]:
#Tamanho da lista
len(num)

6

In [10]:
num[5]

16

In [15]:
alunos = ['Eduardo', 'Daniel', 'Eduarda', 'Bruno', 'Gabriel', 'Alanna']
alunos[2]

'Eduarda'

In [12]:
len(alunos)

6

In [19]:
#Alterar os itens da lista
alunos[3] = 'Anne'

In [17]:
#Inserir valores na lista .append()
alunos.append('Luciane')
alunos

['Eduardo', 'Daniel', 'Eduarda', 'Bruno', 'Gabriel', 'Alanna', 'Luciane']

In [18]:
alunos.append(input('Digite o nome: '))

Digite o nome: Maria Eduarda

In [23]:
#Desobrir o valor determinado da lista
if 'Bruno' in alunos:
  print('Tem Bruno SIIM')
else:
  print('Tem Bruno nãooooooo!')

Tem Bruno nãooooooo!

In [22]:
if (20 == 30):
  print('sim')
elif(20 > 30):
  print('iguais')
else:
  print('Menor')

Menor

In [26]:
nome = input('Digite o nome: ')
if nome in alunos:
  print('Tem ', nome)
else:
  print('Não tem ' , nome)

Digite o nome: Lara
Não tem  Lara

In [ ]:
del alunos[0]

In [28]:
numeros = []
for num in range(16):
  numeros.append(num)
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [33]:
dobro = []
for num in numeros:
   dobro.append(numeros[num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [40]:
#Descobrir se um numero é par
a = 8
if a%2 == 0:
  print('É par')
else:
  print('É impar')

É par

In [41]:
for num in numeros:
  if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14