<a href="https://colab.research.google.com/github/Brunoandu/Aula-Programacao/blob/main/Untitled21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maçã', 'banana', 'laranja', 'goiaba')
tp_frutas

('maçã', 'banana', 'laranja', 'goiaba')

In [4]:
#Tamanho de uma tupla
len(tp_frutas)

4

In [8]:
#Criando uma lista a partir de uma tupla ou uma tupla a partir de uma lista
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas
tp_frutas2 = tuple(lst_frutas)
type(tp_frutas2)

tuple

In [10]:
#fatiamento
tp_meses = ('jan', 'fev', 'mar', 'abr', 'maio', 'jun', 'jul', 'ago', 'set', 'out', 'nov', 'dez')
#Meses de junho a novembro
tp_meses[5:11]

('jun', 'jul', 'ago', 'set', 'out', 'nov')

In [13]:
#usando o processo de fatiamento,crie uma nova tupla apenas
#com os meses do segundo trimestre (abril-jun)
tp_meses = ('jan', 'fev', 'mar', 'abr', 'maio', 'jun', 'jul', 'ago', 'set' 'out', 'nov', 'dez')
tp_meses[3:6]

('abr', 'maio', 'jun')

In [15]:
#Ordenação de dados *sort(value, key = x)
#ordenar os estados pelo DDD e não pelo nome
uf_cod = [('PE', 81), ('RJ', 21), ('SP', 11), ('PB', 83)]
sorted(uf_cod, key = lambda x : x[1])

[('SP', 11), ('RJ', 21), ('PE', 81), ('PB', 83)]

In [22]:
#coloque a tupla a seguir em ordem do mais novo para o mais velho
nome_nasc = [('Luana', 2003), ('Maria Eduarda', 2005), ('Alanna', 2000)]
sorted(nome_nasc,key = lambda x: x[1])

[('Alanna', 2000), ('Luana', 2003), ('Maria Eduarda', 2005)]

In [23]:
#Do mais velho para o mais novo
nome_nasc = [('Luana', 2003), ('Maria Eduarda', 2005), ('Alanna', 2000)]
sorted(nome_nasc,key = lambda x: x[1], reverse = True)

[('Maria Eduarda', 2005), ('Luana', 2003), ('Alanna', 2000)]

In [26]:
#Desempacotamento de valores.
def nome_idade_uf():
  nome = "Bruno"
  idade = 16
  uf = 'SC'
  return nome, idade, uf

name, age, uf = nome_idade_uf()

print(name, age, uf)

Bruno 16 SC

In [30]:
#Mapeamento de valores
alunos = ('Elizabeth', 'Hellen', 'Melina', 'Miguel', 'Amanda')
notas = (5.5, 8.9, 9, 7.5, 6.5)

Av1 = tuple(zip(alunos, notas))

Av1

(('Elizabeth', 5.5),
 ('Hellen', 8.9),
 ('Melina', 9),
 ('Miguel', 7.5),
 ('Amanda', 6.5))

In [ ]:
#tente inserir algum elemento na tupla 
#tente modificar um valor de elemento na tupla
tp_frutas.append('morango')
tp_frutas

Exercicio de Tuplas

1.Escreva uma função que receba duas tuplas como entrada e retorne uma única tupla que seja a concatenação das duas 

2.Escreva uma função que receba uma tupla contendo o nome e endereço:logradouro,numero e bairro de uma pessoa e retorne uma string

3.Escreva uma função que receba uma lista de tuplas contendo nome e idade de pessoas e retorne a lista ordenada por idade

In [35]:
def concatenaTupla (tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenaTupla(a, b)

(2, 4, 5, 6, 8, 12)

In [41]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'Nome:{nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('Manoelina', 'Rua dos jambos', '60', 'Ipes')

print(formatada(dadosCliente))

Nome:Manoelina, residente a Rua dos jambos, 60, Ipes.